# Eclipse-related files
.classpath
.project
.settings
bin

# the Mac .DS_Store directory
.DS_Store

# Target directories
target

# Testing
test-classes

# ignore war directory
war

*.class

# Package Files #
*.jar
*.war
*.ear
